html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  font-family: 'Epilogue', sans-serif;
}

header {
  background-image: url("./images/bg-pattern-intro-mobile.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  border-bottom-left-radius: 100px;
  height: 80vh;
}

header #logo-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8% 15% 2% 8%;
}

header #background {
  position: absolute;
  height: 80%;
  width: 100%;
  z-index: -1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background-image: linear-gradient(#ff8f70, #ff3d54);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 100px;
}

header #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

header #content h1 {
  font-size: 2.0em;
  line-height: 1.5em;
  color: white;
  margin: 80px 20px 10px 20px;
}

header #content p {
  line-height: 1.5em;
  color: white;
  margin: 0 30px 40px 30px;
}

header #hero-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #start {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  margin-right: 20px;
  color: #ff7a85;
  font-weight: 700;
}

header #start:hover {
  cursor: pointer;
}

header #learn {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-weight: 700;
}

header #learn:hover {
  cursor: pointer;
}

nav {
  position: fixed;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-color: white;
  width: 70%;
  margin: 5% 5%;
  z-index: 3;
  -webkit-box-shadow: 2px 2px 2px;
          box-shadow: 2px 2px 2px;
  border-radius: 10px;
  padding: 5% 10%;
  line-height: 2em;
  text-align: center;
}

nav .menu-expand {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  z-index: 4;
  background-color: #c8c8cb;
  border-radius: 10px;
  padding: 10% 0;
  line-height: 2em;
}

nav .menu-expand a {
  text-decoration: none;
  color: #4b5862;
}

nav #product-btn:hover, nav #company-btn:hover, nav #connect-btn:hover {
  cursor: pointer;
}

nav hr {
  width: 70%;
  height: 1px;
  background-color: #4b5862;
  border: none;
}

nav #btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

nav #btns #login {
  border: none;
  background: none;
  margin-bottom: 5%;
}

nav #btns #login:hover {
  cursor: pointer;
}

nav #btns #singup {
  width: 40%;
  margin: auto;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background-image: linear-gradient(to right, #ff8f70, #ff3d54);
}

nav #btns #singup:hover {
  cursor: pointer;
}

main {
  text-align: center;
  margin-top: 50px;
}

main #img-conteiner {
  z-index: -1;
  max-width: 450px;
  height: 370px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("./images/illustration-editor-mobile.svg");
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

main h2 {
  font-size: 1.5em;
  font-weight: 400;
  color: #4b5862;
  margin-bottom: 20px;
  padding: 0 20px;
}

main img {
  max-width: 350px;
  margin: 20px 0;
}

main p {
  color: #4b5862;
  padding: 0 10%;
  line-height: 1.2em;
  margin-bottom: 40px;
}

main #blue-div {
  background-color: #1f3f5b;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 600px;
  margin-top: 200px;
  z-index: -1;
}

main #blue-background {
  background-image: url("./images/bg-pattern-circles.svg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: inherit;
  width: 100%;
}

main #blue-background img {
  margin-top: -150px;
}

main #blue-background h2, main #blue-background p {
  color: white;
  line-height: 1.4em;
}

main #blue-background p {
  font-weight: normal;
}

footer {
  background-color: #3f4164;
  height: 100%;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}

footer #map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer img {
  justify-self: flex-start;
  padding: 50px 0;
}

footer #product, footer #company, footer #connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

footer #product .footer-link, footer #company .footer-link, footer #connect .footer-link {
  text-decoration: none;
  color: white;
  line-height: 2em;
  font-weight: 100;
  font-family: 'Ubuntu', sans-serif;
}

footer #product .highlight, footer #company .highlight, footer #connect .highlight {
  font-weight: 700;
}

footer #product .end-tag, footer #company .end-tag, footer #connect .end-tag {
  margin-bottom: 30px;
}

.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 1200px) {
  nav {
    margin: 8.5% 0 0 15%;
    padding: 0;
    width: 80%;
    position: absolute;
    top: 0px;
    left: 50px;
    display: inline-block;
    text-align: left;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
  }
  nav hr {
    display: none;
  }
  nav .menu-expand {
    position: absolute;
    width: 13%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    background-color: white;
    border-radius: 10px;
    padding: 0 0;
    line-height: 2em;
  }
  nav .menu-expand a {
    text-align: center;
    text-decoration: none;
    color: #4b5862;
  }
  nav #product {
    left: 15px;
  }
  nav #company {
    left: 160px;
  }
  nav #connect {
    left: 312px;
  }
  nav hr {
    width: 70%;
    height: 1px;
    background-color: #4b5862;
    border: none;
  }
  nav #btns {
    display: inline-block;
    width: 40%;
    text-align: right;
    float: right;
  }
  nav #btns #login {
    width: 30%;
    display: inline;
  }
  nav #btns #singup {
    width: 30%;
    display: inline;
    margin: 0;
  }
  nav span {
    margin-right: 60px;
  }
  nav #product-btn {
    margin-left: 20px;
  }
  #menu-btn {
    display: none;
  }
  main #heading {
    margin-bottom: 50px;
  }
  #conteiner1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 400px;
  }
  #conteiner1 #img-conteiner {
    z-index: -1;
    width: 700px;
    height: 570px;
    background-image: url("./images/illustration-editor-mobile.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #conteiner1 #text-conteiner {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: center;
    text-align: left;
  }
  #conteiner1 #text-conteiner h2 {
    padding: 0 10%;
  }
  #blue-div {
    height: 400px !important;
  }
  #blue-div #blue-background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 400px;
    background-position: left;
    background-size: 80%;
  }
  #blue-div #blue-background img {
    margin-top: -30px;
  }
  #blue-div #blue-background #text-conteiner {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: center;
    text-align: left;
  }
  #blue-div #blue-background #text-conteiner h2 {
    padding: 0 10%;
  }
  #bottom-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 150px;
  }
  #bottom-content img {
    max-width: 700px;
  }
  #bottom-content #text-conteiner {
    text-align: left;
    width: 50%;
  }
  #bottom-content #text-conteiner h2 {
    padding: 0 10%;
  }
  footer {
    display: block;
    height: 300px;
  }
  footer #map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    margin-top: 10%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  footer #map img {
    -ms-flex-item-align: start;
        align-self: flex-start;
    max-width: 150px;
    max-height: 70px;
  }
  footer #map #product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
  footer #map #company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
  footer #map #connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
}
/*# sourceMappingURL=style.css.map */